@model RapNewsManager.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RememberMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RememberMe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fanpage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fanpage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nb_patronat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nb_patronat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nb_top_news)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nb_top_news)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_user }) |
    @Html.ActionLink("Back to List", "Index")
</p>
